<!DOCTYPE html>
<html>
  <head>
    <title>图书管理系统</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css"/>
    <script src="/javascripts/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    	<div class="login_bg">
    		<h2>欢迎登陆图书管理系统</h2>
    		<div class="form-group">
			    <label for="inputEmail3" class="control-label">用户名</label>
		      <input type="text" class="form-control" id="username" placeholder="用户名">
			  </div>
			  <div class="form-group">
			    <label for="inputPassword3" class="control-label">密码</label>
		      <input type="password" class="form-control" id="password" placeholder="密码">
			  </div>
			  <div class="form-group btn">
			      <button class="btn btn-primary" id="login">登陆</button><a href="/rePass">忘记密码？</a>
			      <button class="btn btn-primary" id="register" onclick="location.href='/register'">注册</button>
			  </div>
    	</div>
    	<script type="text/javascript">
    		$(function(){
    			$("#login").click(function(){
    				$.ajax({
    					type:"post",
    					url:"/users/login",
    					data:{username:$("#username").val(),password:$("#password").val()},
    					success:function(data){
    						data = JSON.parse(data);
    						//console.log(data);
    						if(data.code==1){
    							alert("欢迎登陆，即将跳转");
    							location.href = "/home";
    						}else{
    							alert("请输入正确的用户名和密码");
    							location.href = "/";
    						}
    					}
    				});
    			})
    		})
    	</script>
  </body>
</html>
